/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}
a {
    text-decoration: none;
    color: #000000;
    
    
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    
}

.card img {
    object-fit: cover;
    width: 100%;
    height: 120px;
    
   
}


    
.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutralStar {
    color: var(--main-bg-color)
}

/**** Header ***/

.header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    height: 35px;
    
  }
  
  nav {
    float: right;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
  }
  
  nav li {
    
    display: inline-block;
    margin-left: 20px;
    margin-right: 70px;
  }
  
  nav a {
    text-decoration: none;
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
    color: #000000;
  }
  
  nav a:hover {
    color: #0065FC;
    border-top: #0065FC 2px solid;
    padding-top: 13px;
  }
  
  .logo {
    width: 61.09px;
    height: 19px;
    padding-top: 20px;
  }
     

/******** Section 1 ********/

.section1 {
    margin-top: 70px;
}

.paragraphe1 {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    margin-top: 7px;
}
form {
    display: flex;
    align-items: center;
    border: 0.5px solid #F2F2F2;
    border-radius: 15px;
  }

  .barre-de-recherche {
    height: 50px;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 30px;
    
    
    }
    
 .icon-gps {
    background-color: #F2F2F2;
    border: 1px solid #F2F2F2;
    border-radius: 15px 0px 0px 15px;
    width: 50px;
    height: 50px;
    display :flex;
    align-items: center;
    justify-content: center;
    }
    
    .fa-location-dot {
    color: #000000;
    
    }
    
    .rechercher {
    
    height: 50px;
    width: 230px;
    font-size: 18px ;
    font-weight: bold;
    color: #000000;
    border: none;
    padding-left: 20px;
    
    }
    
    .bouton {
    
    background-color: #0065FC;
    height: 50px;
    width: 120px;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 0 15px 15px 0;
    font-size: 18px ;
    font-weight: 700;
    font-family: 'Raleway', sans-serif;

    }
  
.rechercher-mobile {
    display: none;
}

/***** Filtre *****/

.filtres {
    display: flex;
    align-items: center;
    margin-top: 25px;
}

.filtresRow {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.titre-filtres {
    text-align: center;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    margin-right: 2%;
}

.icon-texte {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 25px;
    border: #D9D9D9 2px solid;
    height: 40px;
    padding: 0 15px;
    width: auto;
    
    
  }

  .icon-texte:hover {
   background-color: #DEEBFF;

  }

  .texte {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    color: #000000;

  }
  .icon {
    font-size: 20px;
    margin-right: 10px;
    color: #0065FC;
  }


/********** Info section ***********/



.info-section {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
  }
  
  .info-icon {
    border: 1px solid #D9D9D9;
    width: 24px;
    height: 24px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .fa-info{
    font-size: 12px;
  }




  


/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}



.hebergements-cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-bottom: 30px;
    
}

.hebergements-cards .card {
    width: 30%;
}

.hebergements-cards img {
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}
.hebergements-cards .card-content {
    padding-left: 15px;
    
}

.hebergements-cards .card-title {
    margin-top: 5px;
    margin-bottom: 9px;
}

.hebergements-cards .card-subtitle {
    margin: 0;
}

.hebergements-cards .card-rating {
    margin-top: 5px;
    margin-bottom: 5px;
}

.bloc-haut {
    margin-bottom: 30px;
}

.paragraphe2 {
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    margin: 0;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/********* Activités *********/
.activites {
    display: flex;
    justify-content: space-between;
    height: 440px;
    width: 100%;
    margin-top: 30px;
}

.activites-section {
    margin-top: 70px;
    margin-left: 30px;
}

.card-activites {
    border-radius: 20px 20px 20px 20px ;
    box-shadow: 5px 5px 5px 1px #F2F2F2;
    width: 23%;
}

.activites-img {
    border-radius: 20px 20px 0 0 ;
    width: 100%;
    height: 380px;
    object-fit: cover;
}

.activites .card-title {
    font-weight: 700;
}

.activites-txt {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 5%;
    width: 95%;
}

/******** Footer ********/

.footer-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    
}

footer {
    background-color: #F2F2F2;
    margin-top: 60px;
}

.footer-link {
    height: 150px;
}

.bloc1 {
    margin-left: 2%;
}

.bloc2{
}

.bloc3 {
    margin-right: 20%;
}

.footer-link .paragraphe2 {
    margin-bottom: 15px;
}

.footer-link a {
    text-decoration: none;
    color: #000000;
    display: block;
    margin-bottom: 15px;
}




/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */


@media (max-width: 1024px) {



/******** Filtres ************/  

    .filtres{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }    

    .filtresRow{
        display: flex;
        flex-direction: row;
    }

 /********** Activités *********/

 .activites-img {
    height: 200px;
 }

 .activites {
    height: 270px;
 }

 /********* Footer *********/

 .bloc1 {
    margin-left: 2%;
}

.bloc3 {
    margin-right: 10%;
}

    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card {
        width: 100%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}


/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {

    .main-container {
        padding: 0px;
    }

    .header {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .logo-img {
        text-align: center;
    }

    nav {
        margin-top: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    nav li {
        width: 100%;
        margin: 0;
        text-align: center;
        border-bottom: 2px solid #F2F2F2;
        padding-bottom: 13px;
    }

    nav li:hover {
        color: #0065FC;
        border-bottom: #0065FC 2px solid;
        padding-bottom: 13px;
        cursor: pointer;
    }
    
    nav ul {
        width: 100%;
        display: flex;
        flex-direction: row;
    }
    
    nav a:hover {
        border-top: 0;
      }
    
    .section1 {
        margin-top: 80px;
        margin-bottom: 20px;
        margin-left: 3%;
    }  

    .bouton {
        display: none;
    }

    .rechercher-mobile {
        background-color: #0065FC;
        border: 0;
        border-radius: 15px;
        width: 49px;
        height: 49px;
        display: unset;
    }

    .barre-de-recherche{
        width: auto;
        justify-content: flex-start;
        border: none;
    
        
    }

    form {
        border: 0.5px solid #F2F2F2;
        border-radius: 15px;
        
    }

    .fa-magnifying-glass {
        color: white;
        width: 17px;
        height: 17px;
    }

    .filtresRow {
        flex-wrap: wrap;
    }

    .hebergements-cards .card {
        width: 100%;
        margin-bottom: 30px;
    }

    .populaires-cards  {
        flex-wrap: wrap;
        flex-direction: column;
  
    }

    .populaires-cards a {
        width: 100%;
    }

    .populaires-cards .card {
        width: 100%;
    }

  


    .activites-section {
        margin-right: 5%;
    }

    .activites {
        flex-wrap: wrap;
        height: auto;
    }

    .card-activites {
        width: 100%;
        margin-bottom: 20px;
    }

    .footer-section {
        flex-wrap: wrap;
        width: 100%;
    }

    .bloc1  {
        width: 100%;
        margin: 0 0 30px 0;
    }

    .bloc2  {
        width: 100%;
        margin: 0 0 30px 0;
    }

    .bloc3  {
        width: 100%;
        margin: 0;
    }

    .footer-link {
        height: auto;
        margin-left: 5%;
        margin-top: 10px;
    }

    .hebergements {
        order: 2;
        background-color: white;
    }

    .hebergements-and-populaires .hebergements {
        background-color: white;
    }

    .hebergements-and-populaires .populaires {
        border-radius: 0;
    }

    .populaires {
        order: 1;
        margin-top: 0;
        margin-bottom: 20px;
        background-color:#F2F2F2;
        
    }

    Body {
        margin: 0;
    }

      
      
      
      
      
      

    

    
}

